<div class="newtask-box">
<form class= "newtask-form"action="/newtaskform" method="post">
<input type="text" placeholder="Task Name" name = "title">
<input type="text" placeholder="Details" = "details">
<button class = "task-button" type="submit">Add a Task!</button>
</form>
</div>