<div class="newtask-box">
<form class= "newtask-form" action="/"  method="post">
<input class= "taskname-input" type="text" placeholder="Task Name" name = "title">
<input class= "taskdetails-input" type="text" placeholder="Details" name = "details">
</div>
<button class = "task-button" type="submit">Add a Task!</button>
</form>
