<div class = "task-box" >
  <h2 class = "task-title">My Task</h2>
  <p class = "description">Clean the dishes</p>
</div>
<div class = "task-box">
  <h2 class = "task-title">My Other Task</h2>
  <p class = "description">Bathe the monkey</p>
</div>