{{#each tasks}}
<div class="task-box" >
  <form action="/deleteTask/{{id}}" method="post">
    <h2 class="task-title">{{title}}</h2>
    <p class="description">{{details}}</p>
    <button type="submit" value="{{id}}">Remove</button>
  </form>
</div>
{{/each}}