/* restyle with rem? */
/* General styling */
:root {
  --main-bg-color: rgb(255, 255, 178);
  --alt-bg-color: white;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Flexbox styling */
.home-title {
  text-align: center;
  font-size: 3.5rem;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.task-container {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* align-content: left; */
}

.task-box {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 0px;
}

/* Taskbox interior styling */

.task-title {
  padding-left: 1%;
  font-size: 1rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.description {
  padding-left: 1%;
  font-size: 1rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.delete-button {
  background-color: rgb(255, 113, 113);
  float: right;
  margin-bottom: 2px;
}

.content-box {
  display: flex;
  justify-content: space-between;
}

/* Newtask form styling */

.newtask-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  margin-top: 2vh;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.newtask-form {
  color: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.task-button {
  margin-top: 5px;
  background-color: rgb(196, 247, 247);
  border-radius: 3px;
}

.taskname-input {
  background-color: var(--main-bg-color);
  border-style: none;
  width: 98%;
  padding-top: 10px;
  margin-bottom: 5px;
}
.taskname-input:focus {
  background-color: var(--main-bg-color);
  outline: none;
}
.taskdetails-input {
  background-color: var(--main-bg-color);
  border-style: none;
  width: 98%;
  padding-bottom: 50px;
}
.taskdetails-input:focus {
  background-color: var(--main-bg-color);
  outline: none;
}
