/* restyle with rem? */
/* General styling */
body {
  background-color: lightgray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Flexbox styling */
.home-title {
  text-align: center;
  font-size: 8vh;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.task-container {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* align-content: left; */
}

.task-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  width: 100%;
  margin: 0.2vh;
}

/* Taskbox interior styling */

.task-title {
  padding-left: 1%;
  font-size: auto;
}

.description {
  padding-left: 1%;
  font-size: auto;
}

/* Newtask form styling */

.newtask-box {
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  margin-top: 2vh;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.newtask-form {
  color: aliceblue;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.task-button {
  background-color: palegoldenrod;
}

.taskname-input {
  background-color: lightgray;
  border-style: none;
  width: 98%;
}

.taskdetails-input {
  background-color: lightgray;
  border-style: none;
  width: 98%;
}
